#table1{
	margin-left:auto; 
    margin-right:auto;
	width:96%;
}
table tr td {
	background-color: #00CED1;
}
.division{
	height:120%;
	border: 2px solid;
	padding-right: 05%;
  padding-left: 05%;
  padding-bottom: 02%;
}
.labels{
	border: 2px solid ;
	padding-left: 30%;
	padding-right: 30%;
}
table tr td div div{
	padding-left: 85%;
	padding-right: 05%;
}
#title1{
	background-color: #ffff00;
}
#title2{
	background-color: #ffa500;
}
#title3{
	background-color: #00ff00;
}


